#root {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.app{
  display: flex;
  flex-direction: row;
}
:root {
  --sidebar-width: 18%;
}
.sidebar {
  width: var(--sidebar-width);
  position: fixed;
}
.calendar-container {
  margin-left: var(--sidebar-width);
}